.new2 {
  width: 100%;
  display: flex;

  .newContainer2 {
    flex: 6;

    .top,
    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 10px;
      margin: 20px;
      display: flex;

      h1 {
        color: lightgray;
        font-size: 20px;
      }

      .right {
        position: relative;
        flex: 2;
        text-align: center;

        img {
          // position: absolute;
          // top: 53%;
          // left: 52%;
          margin-top: 5%;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          object-fit: cover;
        }

        form {
          display: flex;
          flex-direction: column;

          .cancelIcon {
            display: flex;
            flex-direction: row;
            position: absolute;
            font-size: 16px;
            right: 80px;
            top: -6px;
            transition: 0.1s;
            

            p {
              font-size: 12.5px;
            }
          }

          .cancelIcon:hover {
            cursor: pointer;
            transform: scale(1.05);
            font-weight: bold;
          }

          .itemList {
            background-color: rgba($color: #240077, $alpha: 0.1);
            width: 60%;
            margin: 10px auto;
            border-radius: 0 0 10px 10px;

            h5 {
              background-color: rgba($color: #240077, $alpha: 0.1);
              padding: 6px;
              font-size: 16px;
            }

            h6 {
              padding: 2px;
              font-size: 14px;
            }

            h6:last-child {
              border-top: #000000 solid 0.2px;
              width: 60%;
              margin: 0 auto;
            }
          }
          .formInput {
            width: 40%;
            margin: 0 auto;

            label {
              display: flex;
              align-items: center;
              gap: 10px;
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }

            select {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
              background-color: transparent;
            }

            button {
              width: 150px;
              padding: 10px;
              border: none;
              background-color: teal;
              color: white;
              font-weight: bold;
              cursor: pointer;
              margin-top: 10px;

              &:disabled {
                background-color: rgba(3, 92, 92, 0.322);
                cursor: not-allowed;
              }
            }
          }
        }
      }

      .left {
        flex: 3;

        form {
          display: flex;
          flex-wrap: wrap;
          gap: 30px;
          justify-content: space-around;

          .formInput {
            width: 40%;

            label {
              display: flex;
              align-items: center;
              gap: 10px;

              // .icon {
              //   cursor: pointer;
              // }
            }

            input {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
            }

            select {
              width: 100%;
              padding: 5px;
              border: none;
              border-bottom: 1px solid gray;
              background-color: transparent;
            }
          }

          button {
            width: 150px;
            padding: 10px;
            border: none;
            background-color: teal;
            color: white;
            font-weight: bold;
            cursor: pointer;
            margin-top: 10px;

            &:disabled {
              background-color: rgba(3, 92, 92, 0.322);
              cursor: not-allowed;
            }
          }

          .error {
            color: red;
            font-size: 10px;
            width: 120px;
            padding: 2px;
            background-color: rgba(255, 0, 0, 0.2);
          }
        }
      }
    }
  }
}
